

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">

    <link rel="stylesheet" href="../static/lib/weui.min.css">
    <link rel="stylesheet" href="../static/css/jquery-weui.css">
    <link rel="stylesheet" href="../static/mycss/demos.css">
    <link rel="stylesheet" href="../static/css/light7.css">
</head>
<body>
<header class='demos-header'>
    <h1 class="demos-title">确认订单</h1>
</header>
<div >
    <a data-href="https://www.payonline.xin/buy.html?a=NTI1&n=rooins&p=0.2&i=17782813941"   class="EPAY-ITME"    target="_blank">支付</a>
</div>

    <script src="https://payonline.xin/static/security/security.js"></script>
    <script src="https://payonline.xin/static/class/class.js"></script>
</body>
</html>